.App {
  text-align: center;
  font-family: Futura;
  background-color: lightsteelblue;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40px;
}

.App-header {
  background: linear-gradient(cornflowerblue, lightskyblue);
  height: 180px;
  padding: 20px;
  color: #111111;
  text-align: left;
  font-size: large;
}

.App-intro {
  font-size: large;
}

.App-content-section {
  background: linear-gradient(lightskyblue, lightsteelblue);
  color: #111111;
  margin: auto;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
